name: DeforaOS PHP CI (ubuntu-latest)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y docbook-xsl gettext make php-cli php-sqlite3 php-xml sqlite3 xsltproc
    - name: make tests
      run: make tests
    - name: make distcheck
      run: make distcheck
